@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins';
  font-size: 14px;
  padding: 0;
  margin: 0;
  padding-bottom: 100px;
}
a{
  text-decoration: none;
  color: black;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    font-size: 11px;
}

header > div > span {
  flex: 1;
  font-size: 11px;
}

nav {
  width: 600px;
} 
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.searchbar {
  padding: 10px 25px;
}

.logo{
  width: 70px;
}  

form{
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  position: relative;
  margin: 0;
}

form > img {
  width: 18px;
  position: absolute;
  z-index: 1;
  top: 9px;
  left: 40px;
  opacity: 0.5;
}

form > input[type=search] {
  flex: 1;
  height: 36px;
  border-radius: 0;
  border: none;
  background-color: rgb(240, 240, 240);
  padding-left: 40px;
}

form > input.boton {
  color: white;
  background-color: #fb3e44;
  border: none;
  padding: 0px 15px;
}

form label, form input{
  color: rgba(0,0,0,.05);
}

.searchbar > a {
  display: inline-block;
  padding: 0px 10px;
}

.searchbar > .bordered {
  border: solid 1px black;
}

.jumbotron {
  background-color: rgba(232,217,217, 0.3);
  text-align: center;
  padding: 25px 20%;
  height: 600px;
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.jumbotron h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 800;
}

.jumbotron > p {
  max-width: 400px;
}

.jumbotron > .buttons {
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: baseline;
}

.jumbotron > .buttons > a {
  padding: 10px 30px;
  background-color: white;
  font-weight: 800;
  font-size: 12px;
}

.jumbotron > .buttons > .seePlans{
  background-color: #fb3b49;
  border: none;
  box-shadow: 8px 8px 0 rgba(251,59,73, .2);
  color: white;
  
}

.logIn{
  list-style: none;
}

.open-source {
  text-align: center;
  padding: 50px 15%;
  height: 400px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
  font-size: medium;
  font-style: italic;
}

.open-source > img{
  width: 120px;
}

.open-source > h2{
  background-color: rgba(255,204,53, .4);
  transform: skew(9deg,0deg);
  padding: 0px 25px;
  margin-top: 40px;
  margin-bottom: 0;
  font-weight: 500;
}


.caracteristicas{
  padding: 0px 70px 50px 70px;
  text-align: center;
}

.cajas {
  display: flex;
	justify-content: space-around;
	align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: left;
  margin-bottom: 50px;
}

.cajas > article {
  max-width: 180px;
  font-size: 12px;
}

.cajas > article > h3{
  color: #ED1C24;
  
}

.cajas > article > img{
  height: 20px;
}


.org {
  background-color: black;
  color: white;
  box-shadow: 8px 8px 0 rgb(128 83 35 / 20%);
  padding: 10px 100px;
  font-weight: 800;
  font-size: 12px;
}

